#front-page {
  display: none;
}

#settings {
  display: none;
}

#meal-size {
  display: none;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #c02827;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

header {
  padding: 20px;
}

header h1 {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

#fortune-image {
  padding: 10px;
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
}

#button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

button {
  width: 300px;
  height: 50px;
  margin: 0px;
  padding: 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffd700;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #000;
  color: #ffd700;
}

#github-icon {
  top: 0;
  left: 0;
  position: absolute;
  padding: 20px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}

.mini-header {
  display: flex;
  align-items: center;
}

#mini-logo {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

#user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

#user-info label, #user-info input {
  width: 100%;
  margin: 5px 0;
}

#user-info button {
  margin-top: 10px;
}

#plate-button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

#plate-button-container button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  height: auto;
}

#plate-button-container button img {
  width: 250px;
  height: 250px;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#current-item {
  padding: 10px;
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
}